@page "/"
@using Soil.Models
@using Soil.Services.Interface
@inject ISoilService SoilService

<PageTitle> Soil Mointor</PageTitle>

<div class="container-main">
    <h1>Soil Status</h1>
    
    <div class="Box-tl">
        <h2> Måling </h2>
        @if (indlæser)
        {
            <p>Henter data...</p>
        }
        else if(senesteMaaling != null)
        {
            <div class="maalingIndhold">
                <span class="fugtighedTal">@senesteMaaling.MoistureLevel.ToString("0.000") m³/m³</span>
                <span class="fugtighed-tal">@senesteMaaling.Depth.ToString("0.0") cm</span>
                
                <p class="tid-tekst">Målt den: @senesteMaaling.Timestamp.ToLocalTime().ToString("dd/MM HH:mm")</p>
            </div>
        }
        else
        {
            <p> Ingen data funde...</p>
        }
        
    </div>
    
    
    <div class="Box-tr">
        <h2> Data historik </h2>
       
    </div>
    
    <div class="Box-bl">
        <h2> Graf over data point </h2>
    </div>
    
    
    <div class="Box-br">
        <h2> For tørt - Alarm  </h2>
        <button> Send operatør til vande </button>

    </div>
    

</div>

@code {

    private SoilMoistureReading? senesteMaaling;
    private bool indlæser = true;

    protected override async Task OnInitializedAsync()
    {
            await SoilService.GemMålingAsync(0, 0);
            senesteMaaling = await SoilService.GetLatestReadingAsync();
            indlæser = false;

    }

}