@page "/"

<PageTitle> Soil Mointor</PageTitle>

<div class="container-main">
    <h1>Soil Status</h1>
    
    <div class="Box-tl">
        <h2> Målling </h2>
    </div>
    
    
    <div class="Box-tr">
        <h2> Data historik </h2>
       
    </div>
    
    <div class="Box-bl">
        <h2> Graf over data point </h2>
    </div>
    
    
    <div class="Box-br">
        <h2> For tørt - Alarm  </h2>
        <button> Send operatør til vande </button>

    </div>
    

</div>